.toggleBtn {
    font-size: 20px;
    cursor: pointer;
  }

  .nav {
    /* // width: "100%", */
    background: #a83535;
    padding: 1em; 
    color: white;
    font-size: bold;
    display: flex;
    justify-content: space-between;
  };